DJANGO_SETTINGS_MODULE=config.settings.dev

SECRET_KEY=remplacer-par-une-vraie-cle-secrete-longue

DB_NAME=foncier
DB_USER=postgres
DB_PASSWORD=votre_mot_de_passe
DB_HOST=127.0.0.1
DB_PORT=5432

# Production seulement
# ALLOWED_HOSTS=presfor.votre-domaine.ci
# CORS_ORIGINS=https://presfor.votre-domaine.ci
